# Dependencies
node_modules/
*/node_modules/

# Production builds
build/
dist/

# Environment variables
.env
*.env

# Logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

# Optional npm cache directory
.npm

# Python
__pycache__/
*.pyc
*.pyo
venv/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo
